.main{
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    overflow: hidden;
    ._wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;

        h1{
            
            color: #ffff;
            font-size: 30px;
            cursor: pointer;
        }
       
        p{
            
            color: #ffff;
            cursor: pointer;
            span{
                cursor: pointer;
                font-weight: 700;
            }
        }
    }
}


