.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background: rgb(227,51,51);
    background: linear-gradient(90deg, rgba(227,51,51,0.9079831761806285) 0%, rgba(251,175,121,0.9275910193178833) 100%); 
    ._wrapper{
        height: 600px;
        width: 800px;
        
        display: flex;
        justify-content: center;
        
        .__formWrapper{
            width: 100%;
            color: #ffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h2{
                font-size: 35px;
                color: #ffff;
            }
            h3{
                width: 300px;
                margin-top: 20px;
            }
            .___inputWrapper{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 300px;
                input,select{
                    padding: 9px 12px;
                    
                    border: none;
                    outline: none;
                    background-color: rgba(216, 216, 216, 0.479);
                    border-radius: 2px;
                    color: #ffff;
                    &::placeholder{
                        color: #4e2323;
                        letter-spacing: 1px;
                    }
                }
            }
            .___recoverPassword{
                width: 300px;
                color: #4e2323d0;
                margin-top: 15px;
                display: flex;
                justify-content: right;
                p{
                    font-size: 11px;
                    
                    &:hover{
                        text-decoration: underline;
                        
                        cursor: pointer;
                        text-underline-offset: 3px;
                    }
                }
            }
            .___buttonWrapper{
                width: 300px;
                margin-top: 15px;
                button{
                    cursor: pointer;                    
                    color: #ffff;
                    letter-spacing: 1px;
                    font-size: 18px;
                    border: none;
                    border-radius: 2px;
                    width: 100%;
                    height: 40px;
                    background-color: #ac4250;
                    transition: all 0.2s ease;
                    &:hover{color: #f5b97c;}
                }
            }
            .___signupWrapper{
                margin-top: 30px;
                span{
                    color: #4e2323d0;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                        text-underline-offset: 3px;
                    }
                }
            }
            
            
        }
    }
}